<!-- views/class-student-info.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>

  <ul>
    {{#each students}}
      <li>
        <strong>Name:</strong> {{ first_name }}{{ last_name }}<br>
        <strong>Roll:</strong> {{ roll }}<br>
        <strong>Class:</strong> {{ class }}<br>
        <strong>Phone:</strong> {{ phone }}<br>
        <strong>Father's Name:</strong> {{ father_name }}<br>
        <strong>Mother's Name:</strong> {{ mother_name }}<br>
        <strong>Address:</strong> {{ address }}<br>
        <strong>Comment:</strong> {{ comment }}<br><br>
      </li>
    {{/each}}
  </ul>
</body>
</html>
